/* Write your code here. */
.app-container {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px #bfbfbf;
  padding-right: 30px;
  width: 80%;
}
.faqs-heading {
  color: #cb8805;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
